@page "/adultView/{Id:int}"
<h3>Adult View</h3>
<hr/>
<div class="col-md-3" >
    <label style="font-weight: bold" >
        First Name
    </label >
    <p class="col-md-12 " style = "padding:0;color: #856404" >@_adultModel.FirstName</p>
    <label style="font-weight: bold">
        Last Name
    </label>
    <p class="col-md-12" style = "padding:0" >@_adultModel.LastName</p>
    <label style="font-weight: bold">
        Hair color
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.HairColor</p>
    <label style="font-weight: bold">
        Eye Color
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.EyeColor</p>
    <label style="font-weight: bold">
        Age
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.Age</p>
    <label style="font-weight: bold">
        Weight
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.Weight</p>
    <label style="font-weight: bold">
        Height
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.Height</p>
    <label style="font-weight: bold">
        Sex
    </label>
    <p class="col-md-12" style = "padding:0">@_adultModel.Sex</p>
</div>